.product-description {
  background: lightgrey;
  padding: 10px;

  .product-name,
  .product-price {
    font-weight: bold;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 7px;
  }
}


