.ysabeau-font {
  font-family: "Ysabeau", sans-serif;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.custom-spacer {
  flex: 1 1 auto;
}

// .custom-btn {
//   &:hover {
//     background-color: #f6efce;
//   }
// }

.mr-10 {
  margin-right: 10px;
}

.active {
  // border: 1px solid #000;
  background-color: #f0f0f0;
}

.back-link {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: rgb(50, 50, 241);
  font-size: 16px;
}
