.example-card {
    max-width: 500px;
    margin: 10px auto;
    padding: 50px;
    text-align: center;

    img{
      border: solid 1px red;
    }
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }